.elementor-2076
  .elementor-element.elementor-element-ca140e4:not(.elementor-motion-effects-element-type-background),
.elementor-2076
  .elementor-element.elementor-element-ca140e4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-2076
  .elementor-element.elementor-element-ca140e4
  > .elementor-background-overlay {
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076 .elementor-element.elementor-element-ca140e4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 030px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-14bf317
  > .elementor-element-populated {
  margin: 0px 70px 0px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-6e718f6
  .ot-heading
  > span {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-6e718f6
  .ot-heading
  .main-heading {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-6e718f6
  > .elementor-widget-container {
  padding: 20px 0px 30px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-4f45a56
  .elementor-heading-title {
  color: #020101;
  font-weight: 600;
}
.elementor-2076
  .elementor-element.elementor-element-4f45a56
  > .elementor-widget-container {
  padding: 0px 0px 15px 0px;
}
.elementor-2076 .elementor-element.elementor-element-61b19fd {
  color: #020101;
  font-weight: 300;
}
.elementor-2076
  .elementor-element.elementor-element-61b19fd
  > .elementor-widget-container {
  padding: 0px 0px 25px 0px;
}
.elementor-2076 .elementor-element.elementor-element-4875668 .btn-details,
.elementor-2076 .elementor-element.elementor-element-4875668 .octf-btn {
  fill: #ff2525;
  color: #ff2525;
}
.elementor-2076 .elementor-element.elementor-element-e9b01f2 .btn-details,
.elementor-2076 .elementor-element.elementor-element-e9b01f2 .octf-btn {
  fill: #ff2525;
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-a27fb43
  > .elementor-widget-container {
  margin: 0px -50px 0px -23px;
}
.elementor-2076 .elementor-element.elementor-element-50f8be2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 150px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-50f8be2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076 .elementor-element.elementor-element-ad4f9d3 {
  z-index: 1;
}
.elementor-2076 .elementor-element.elementor-element-a79fe3a {
  text-align: center;
}
.elementor-2076
  .elementor-element.elementor-element-a79fe3a
  .ot-heading
  > span {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-a79fe3a
  .ot-heading
  .main-heading {
  color: #020101;
}
.elementor-2076
  .elementor-element.elementor-element-a79fe3a
  > .elementor-widget-container {
  padding: 050px 0px 040px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-e7987b7
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2076 .elementor-element.elementor-element-0fcfd16 {
  z-index: 1;
}
.elementor-2076 .elementor-element.elementor-element-544c144 .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-544c144
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-544c144 .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-544c144
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-544c144
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-544c144
  > .elementor-widget-container {
  margin: 0px -30px 0px 30px;
  padding: 0px 0px 55px 0px;
}
.elementor-2076 .elementor-element.elementor-element-3d3d403 .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-3d3d403
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-3d3d403 .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-3d3d403
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-3d3d403
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-3d3d403
  > .elementor-widget-container {
  padding: 0px 0px 55px 0px;
}
.elementor-2076 .elementor-element.elementor-element-edb753f .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-edb753f
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-edb753f .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-edb753f
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-edb753f
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-edb753f
  > .elementor-widget-container {
  margin: 0px -30px 0px 30px;
}
.elementor-2076 .elementor-element.elementor-element-3d30f9a .btn-details,
.elementor-2076 .elementor-element.elementor-element-3d30f9a .octf-btn {
  fill: #ff2525;
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-b53219c
  > .elementor-widget-container {
  margin: 0px -15px 0px 0px;
}
.elementor-2076 .elementor-element.elementor-element-901ee58 {
  z-index: 1;
}
.elementor-2076 .elementor-element.elementor-element-6d966a7 .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-6d966a7
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-6d966a7 .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-6d966a7
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-6d966a7
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-6d966a7
  > .elementor-widget-container {
  margin: 0px 30px 0px -30px;
  padding: 0px 0px 55px 0px;
}
.elementor-2076 .elementor-element.elementor-element-f19982a .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-f19982a
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-f19982a .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-f19982a
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-f19982a
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-f19982a
  > .elementor-widget-container {
  padding: 0px 0px 55px 0px;
}
.elementor-2076 .elementor-element.elementor-element-a947b06 .icon-main i,
.elementor-2076
  .elementor-element.elementor-element-a947b06
  .icon-main
  span:before {
  font-size: 50px;
}
.elementor-2076 .elementor-element.elementor-element-a947b06 .icon-main svg {
  width: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-a947b06
  .icon-box-s2:hover
  .icon-main {
  color: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-a947b06
  .icon-box-s2:hover
  svg {
  fill: #43baff;
}
.elementor-2076
  .elementor-element.elementor-element-a947b06
  > .elementor-widget-container {
  margin: 0px 30px 0px -30px;
}
.elementor-2076
  .elementor-element.elementor-element-623c8be
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2076
  .elementor-element.elementor-element-623c8be:not(.elementor-motion-effects-element-type-background),
.elementor-2076
  .elementor-element.elementor-element-623c8be
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffbb2b;
  background-image: url("https://capichi.jp/wp-content/uploads/2020/09/admin-ajax-1.png");
  background-position: center right;
  background-repeat: no-repeat;
}
.elementor-2076 .elementor-element.elementor-element-623c8be {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 150px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-623c8be
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-61f7561
  > .elementor-element-populated {
  margin: 0px 0px 0px 70px;
}
.elementor-2076
  .elementor-element.elementor-element-02f2689
  .ot-heading
  > span {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-02f2689
  .ot-heading
  .main-heading {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-02f2689
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-69c09ac
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-d39082b
  > .elementor-widget-container {
  padding: 0px 0px 40px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-43cf958
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2076
  .elementor-element.elementor-element-fd3dcd2:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-2076
  .elementor-element.elementor-element-fd3dcd2
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://capichi.jp/wp-content/uploads/2020/09/会議.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2076
  .elementor-element.elementor-element-fd3dcd2
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-fd3dcd2
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-75aa919
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-1294e73:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-2076
  .elementor-element.elementor-element-1294e73
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-2076
  .elementor-element.elementor-element-1294e73
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-1294e73
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076 .elementor-element.elementor-element-7a5fbe3 {
  text-align: left;
}
.elementor-2076
  .elementor-element.elementor-element-e26a031:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-2076
  .elementor-element.elementor-element-e26a031
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://capichi.jp/wp-content/uploads/2020/09/アプリ.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2076
  .elementor-element.elementor-element-e26a031
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-e26a031
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-225f677
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-856000d
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2076
  .elementor-element.elementor-element-3119d82:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-2076
  .elementor-element.elementor-element-3119d82
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://engitech.s3.amazonaws.com/images/fun-fact2.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2076
  .elementor-element.elementor-element-3119d82
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-3119d82
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-692d972
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-2076
  .elementor-element.elementor-element-ceb8531:not(.elementor-motion-effects-element-type-background),
.elementor-2076
  .elementor-element.elementor-element-ceb8531
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-2076 .elementor-element.elementor-element-ceb8531 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 050px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-ceb8531
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2076
  .elementor-element.elementor-element-aad0458
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-2076 .elementor-element.elementor-element-aad0458 {
  padding: 0px 0px 40px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-7e5463d
  .ot-heading
  > span {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-7e5463d
  .ot-heading
  .main-heading {
  color: #ff2525;
}
.elementor-2076
  .elementor-element.elementor-element-54288e1
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-2076
  .elementor-element.elementor-element-6d945f2
  > .elementor-widget-container {
  padding: 0px 0px 80px 0px;
}
.elementor-2076
  .elementor-element.elementor-element-488e3aa
  > .elementor-widget-container {
  padding: 0px 0px 80px 0px;
}
@media (min-width: 768px) {
  .elementor-2076 .elementor-element.elementor-element-3dea8e6 {
    width: 41%;
  }
  .elementor-2076 .elementor-element.elementor-element-4754380 {
    width: 59%;
  }
}
@media (max-width: 1024px) {
  .elementor-2076
    .elementor-element.elementor-element-ca140e4:not(.elementor-motion-effects-element-type-background),
  .elementor-2076
    .elementor-element.elementor-element-ca140e4
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 0px auto;
  }
  .elementor-2076 .elementor-element.elementor-element-ca140e4 {
    padding: 110px 0px 90px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-14bf317
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-a27fb43
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-50f8be2:not(.elementor-motion-effects-element-type-background),
  .elementor-2076
    .elementor-element.elementor-element-50f8be2
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 0px auto;
  }
  .elementor-2076
    .elementor-element.elementor-element-a79fe3a
    > .elementor-widget-container {
    padding: 0px 0px 60px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-544c144
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-3d3d403
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-edb753f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-b53219c
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-6d966a7
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-f19982a
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-a947b06
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-623c8be:not(.elementor-motion-effects-element-type-background),
  .elementor-2076
    .elementor-element.elementor-element-623c8be
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 0px auto;
  }
  .elementor-2076
    .elementor-element.elementor-element-61f7561
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-2076
    .elementor-element.elementor-element-ca140e4:not(.elementor-motion-effects-element-type-background),
  .elementor-2076
    .elementor-element.elementor-element-ca140e4
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 0px auto;
  }
  .elementor-2076
    .elementor-element.elementor-element-ca140e4
    > .elementor-background-overlay {
    background-size: 0px auto;
  }
  .elementor-2076 .elementor-element.elementor-element-ca140e4 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-6e718f6
    .ot-heading
    > span {
    font-size: 12px;
  }
  .elementor-2076
    .elementor-element.elementor-element-6e718f6
    .ot-heading
    .main-heading {
    font-size: 28px;
    line-height: 40px;
  }
  .elementor-2076 .elementor-element.elementor-element-50f8be2 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-623c8be:not(.elementor-motion-effects-element-type-background),
  .elementor-2076
    .elementor-element.elementor-element-623c8be
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 0px auto;
  }
  .elementor-2076 .elementor-element.elementor-element-623c8be {
    padding: 80px 0px 80px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-c283bc8
    > .elementor-widget-container {
    padding: 0px 0px 40px 0px;
  }
  .elementor-2076
    .elementor-element.elementor-element-fd3dcd2
    > .elementor-element-populated {
    padding: 250px 100px 250px 100px;
  }
  .elementor-2076
    .elementor-element.elementor-element-e26a031
    > .elementor-element-populated {
    padding: 250px 100px 250px 100px;
  }
  .elementor-2076
    .elementor-element.elementor-element-3119d82
    > .elementor-element-populated {
    padding: 250px 100px 250px 100px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-2076 .elementor-element.elementor-element-14bf317 {
    width: 100%;
  }
  .elementor-2076 .elementor-element.elementor-element-738761b {
    width: 100%;
  }
  .elementor-2076 .elementor-element.elementor-element-0fcfd16 {
    width: 100%;
  }
  .elementor-2076 .elementor-element.elementor-element-8e2fd2c {
    width: 100%;
  }
  .elementor-2076 .elementor-element.elementor-element-901ee58 {
    width: 100%;
  }
  .elementor-2076 .elementor-element.elementor-element-fd3dcd2 {
    width: 50%;
  }
  .elementor-2076 .elementor-element.elementor-element-1294e73 {
    width: 50%;
  }
  .elementor-2076 .elementor-element.elementor-element-e26a031 {
    width: 50%;
  }
  .elementor-2076 .elementor-element.elementor-element-f2338c6 {
    width: 50%;
  }
  .elementor-2076 .elementor-element.elementor-element-938eb79 {
    width: 50%;
  }
  .elementor-2076 .elementor-element.elementor-element-3119d82 {
    width: 50%;
  }
}
